.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem;
}

.project {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    border-radius: 0.5rem;
}

.project h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.project a {
    margin-top: 0.5rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px;
}
